.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .tamagotchi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 5px solid black;
    border-radius: 10px;
  }
  
  .face {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    /* background-color: #ffc107; */
    margin-bottom: 20px;
  }
  
  .happy {
    background-image: url("https://img.icons8.com/external-line-icons-royyan-wijaya/512/null/external-cat-hana-emojis-cat-edition-line-line-icons-royyan-wijaya-5.png");
    background-size: contain;
  }
  
  .sad {
    background-image: url("https://img.icons8.com/external-line-icons-royyan-wijaya/512/null/external-cat-hana-emojis-cat-edition-line-line-icons-royyan-wijaya-11.png");
    background-size: contain;
  }
  
  .hungry {
    background-image: url("https://img.icons8.com/external-line-icons-royyan-wijaya/512/null/external-cat-hana-emojis-cat-edition-line-line-icons-royyan-wijaya-16.png");
    background-size: contain;
  }
  
  .stats {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .buttons button {
    padding: 5px 10px;
    margin: 5px;
  }
  
  #hunger, #happiness, #health {
    font-weight: bold;
  }
  